anndata~=0.8.0
fastavro
google-api-python-client
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
numpy
scipy
torch
fastapi
uvicorn[standard]
python-dotenv
pyarrow
python-multipart
aiohttp==3.8.3
psycopg2
SQLAlchemy==1.4.46
Flask==2.2.2
Flask-Admin==1.6.0
Flask-HTTPAuth==4.7.0
PyJWT==2.6.0
alembic==1.9.2
