<div>
  <p>Welcome to the Cellarium Cell Annotation Service!</p>
          
  <p>To access the service, please use the following API key:</p>

  <div style="background:#f8e9fd;padding:10px;margin:10px 0;width:700px;font-family:monospace">
      {key}
  </div>

  <p>Please keep this key secure and do not share it with others.</p>

  <p>For questions or if you did not request this key, please email the Cell Annotation Service team at <a href="mailto:cas-support@broadinstitute.org">cas-support@broadinstitute.org</a>.</p>

  <table style="border-collapse: collapse">
    <tr>
      <td>Documentation can be found at:</td>
      <td><a href="https://cellarium-cas.readthedocs.io/en/latest">https://cellarium-cas.readthedocs.io/en/latest</a></td>
    </tr>
    <tr>
      <td>Sample code can be found at:</td>
      <td><a href="https://github.com/cellarium-ai/cellarium-cas/blob/main/README.md">https://github.com/cellarium-ai/cellarium-cas/blob/main/README.md</a></td>
    </tr>
    <tr>
      <td colspan="2">Python client can be installed via pip:</td>
    </tr>
    <tr>
      <td style="padding:0" colspan="2">
        <div style="background:#f8e9fd;padding:10px;margin:10px 0;width:700px;font-family:monospace">
        $ pip install cellarium-cas
        </div>
      </td>
    </tr> 
  </table>

  <p>Please do not hesitate to reach out with any questions or feedback!</p>

  <p>Best,</p>
  <p>The Cell Annotation team</p>
</div>